@import "config";
@import "utilities";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
$font-family: "Montserrat", sans-serif;

// Basic Styling
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem; // rem is default font size
  line-height: 1.6;
  background-color: $dark-color;
  color: $dark-color;
}

a {
  text-decoration: none;
  color: $primary-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px $primary-color;
  opacity: 0.9;

  ul {
    display: flex;
  }

  a {
    color: $light-color;
    padding: 0.45rem;
    margin: 0 0.25rem;

    &:hover {
      color: $primary-color;
    }
  }
}

.hotel {
  max-width: $max-width;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 1rem;
  align-items: center;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
  background-color: rgba($color: #000000, $alpha: 0.4);
}

.plan {
  background-color: rgba($color: #000000, $alpha: 0.4);
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@import "mobile";
